
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbg{
    background-color:#00324c;
    color: white;
    font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

.logo{
  width: 70%;
  height: 100%
}

.nav{

  padding-top: 15px;
}
.navli{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px 5px;
}



/* ***************************************************** */

/* dropdown menu*/
.dropdown{
  background:transparent !important;
  padding: 0px !important;
}
.dropdown:hover{
  background-color: #fff !important;
}
.dropdown-menu{
  background: linear-gradient(rgba(211, 205, 205, 0.5),rgba(103, 100, 100, 0.5)) !important;
  color: white !important;
}
.dropdown button{
  padding: 0px 5px !important;
}
.dropdown button:hover{
  background-color: rgb(200, 196, 196) !important;
}

/* .dropdown completed */

/* ********************************************* */



.ahover:hover{
  color:#31718f !important;
  border-top:2px solid #20b3ca;
  padding-top: 28px;
}
.home{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)) , url(PICS/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 width: 100%;
}


.pic{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(laptop.jpg);
padding: 200px 0px;
  width: 100%;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
}

.about{
  position: absolute;
  bottom: 50px;
}
.us{
  color: #20b3ca;
}
.gap{
  margin-right: 50px;
  margin-left: 30px;
  font-size: large;
  margin-top: 20px;
  color: black;
  font-family:"Poppins", sans-serif;
}
.gap:hover{
  border-bottom: 2px solid #20b3ca;
  padding-bottom:17px;
}
.line{
  border-bottom: 1px solid black;
}
.para{
  margin-top: 10px;
}
.tabs{
  background-color: #00324c;
  font-size: 20px;
  padding:10px 2px 2px 30px;
  align-items:flex-start;
  border-radius: 7px 7px 0px 0px;
  width: 60% !important;
  margin-top: 90px;
}
.tabh:hover{
  background-color: #20b3ca;
  padding: 10px 2px;
}
.content{
  padding: 20px;
  background-color: rgba(119, 116, 116, 0.2);
  margin-bottom: 20px;
}

.need{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(laptop.jpg);
 color: white;
 text-align: center;
 background-attachment: fixed;
 height: 300px;
 background-size: cover;
 padding-top: 90px;
}



.footerbg{
  background-color: rgba(24, 24, 24, 0.9);
  color: white;
  padding: 20px 0px;
  /* margin-top: 30px; */
  font-family: "poppins",sans-serif;
}

.footp{
  padding: 20px 5px 15px 0px;
  border-bottom: 1px solid gray;
}

.footpa{
  width: 60%;
}
.footicons i{
  font-size: 30px;
 color: white;
 padding-left: 20px;
 
}
.footicons i:hover{
  background-color: #20b3ca;
  padding: 10px;
  border-radius: 10px;
}
.copy{
  color: aquamarine;
}

.main{
  display:flex;
  justify-content: space-between;
  font-family: "poppins",sans-serif;
}
.foot-ul{
  list-style: none;
}
.foot-ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem
}
.foot-ul li{
  padding-bottom: 10px;
 
}
.foot-ul li a i{
  margin-right: 1rem;
}

.foot-ul li a:hover{
  color: #20b3ca;
  padding-left: 2px;
}


/* mobile */


@media only screen and (min-width: 320px) and (max-width: 467px){

  .navbg{
   display: none;
  }
 .navbar{
   text-align: center;
 }
 .navimg{
  text-align: center;
 }
 .pic{
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
 }

 .footlogo img{
   width: 100%;
   height: 100%;
 }
 .foottext p{
   font-size: 12px;
 }
 .foottext i{
   font-size: 15px;
 }
 .footicons{
   text-align: left;
 }
 .foot-ul{
   text-align: left;
   margin: 0px;
   width: 100%;
 }
 .list{
   padding: 0px;
 }
 .main{
   display: inline;
   font-size: 12px;
   text-align: center;
 }
 .right{
   padding-bottom: 10px;
 }
 .mission img{
  width: 100%;
 }
 .pic{
  padding-bottom: 10px !important;
 }
.gap{
  font-size: 20px;
  margin: 5px;
}
.tabs{
  width: 100% !important;
  font-size: 14px;
  padding-right: 10px;
}
.need{
  padding: 80px 10px;
}

.left p{
  margin: 0;
}
.right p{
  margin: 0;
}

 }
 
 /* tablet */
 @media only screen and (min-width: 467px) and (max-width: 768px){
 
 
   .navbg{
     display: none;
    }
   .nav{
     text-align: center;
     font-size: 12px;
    margin-left: 16px;
   }
   .navimg{
    text-align: center;
   }
  .pic{
    height: 90vh;
  }
   .footlogo img{
     width: 100%;
     height: 100%;
   }
   .foottext p{
     font-size: 12px;
     padding: 4px 10px;

   }
   .foottext i{
     font-size: 15px;
     padding-left: 9px;
   }
   .footicons{
     text-align: left;
   }
   .foot-ul{
     text-align: left;
     margin: 0px;
     width: 100%;
   }
   .list{
     padding: 0px;
   }
   .list{
    padding: 0px;
  }
  .main{
    display: inline;
    font-size: 12px;
    text-align: center;
  }
  .right{
    padding-bottom: 10px;
  }
  .mission img{
   width: 100%;
  }
  .pic{
   padding-bottom: 10px !important;
  }
 .gap{
   font-size: 20px;
   margin: 5px;
 }
 .tabs{
   width: 100% !important;
   font-size: 14px;
   /* padding-right: 10px; */
 }
 .need{
   padding: 80px 30px;
 }
.left p{
  margin: 0;
}
.right p{
  margin: 0;
}
 }

/* ______________________________________________________________________________________________ */

                    /* THE END ABOUT PAGE */
 /* ____________________________________________________________________________________________ */
